[submodule "swe599-backend"]
path = swe599-backend
url = https://github.com/onurdemirkale/swe599-backend
branch = main
[submodule "swe599-iac"]
path = swe599-iac
url = https://github.com/onurdemirkale/swe599-iac
branch = main
[submodule "swe599-web"]
	path = swe599-web
	url = git@github.com:onurdemirkale/swe599-web.git
